
[Desktop Entry]
Name=Teams for Linux (College)
Comment=Microsoft Teams for Linux - College Profile
Exec=/opt/teams-for-linux/teams-for-linux --class=teams-college --user-data-dir=/home/abil/.config/teams-for-linux/profile-college --appIcon=/home/abil/.config/teams-for-linux/profile-college/teams-college.png
Icon=teams-college
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=teams-college
